# Godot 4 (cache/editor)
.godot/

# Godot 3 legacy cache
.import/

# Builds/exportados
/export/
/bin/
*.pck
*.exe
*.apk
*.aab
*.zip
*.html
*.wasm

# IDE/OS basura
.idea/
.vscode/
.DS_Store
Thumbs.db
*.tmp
*.log
